# Ignore only pickle models
*.pkl

# Keep joblib models
!*.joblib

# Virtual environment
capstone_env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Mac files
.DS_Store
pipeline.pkl